* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Heebo" sans-serif !important;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: "Heebo" sans-serif;
}

.MuiButton-label {
  font-family: "Heebo" sans-serif;
}
